$btn-color: #737373;
$site-name-color: #333333;
$bg-color: white;
$post-color: #a8a8a8;
$post-border-color: #9a9a9a;
$banner-color: #eee;
$created-at-color: #8f8f8f;
$login-border-color: #000000;
$nav-list-color: #787878;
$footer-bg-color: #323232;
$linear: linear-gradient(to top, #000000, #434343);
@mixin flex-between() {
  display: flex;
  justify-content: space-between;
}
@mixin flex-center() {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;  
}

.navbar {
  height: 80px;
  &__site-name {
    font-size: 28px;
    font-weight: bold;
  }
  &__wrapper {
    @include flex-center();
    height: 100%;
    background-color: #red;
  }
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 12px;
  }
  &__site-name a {
    text-decoration: none;
    color: $site-name-color;
  }
  &__list {
    @include flex-between();
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;    
    li {
      margin-left: 21px;     
    }
    a {
      text-decoration: none;
      color: $nav-list-color;
      font-size: 16px;
    }
    > div {
      display: flex;
    }
  }
}

.banner {
  background-image: $linear;
  height: 240px;
  color: $banner-color;
  @include flex-center();
  justify-content: center;
  flex-direction: column;
  .banner__wrapper > div {
    margin-top: 26px;
  }
  h1 {
    font-size: 28px;
    margin: 0;
  }
}

.container-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 138px;
  min-height: calc(100vh - 350px);
}

.posts, .container {
  background: $bg-color;
  padding: 6px;
  display: inline-flex;
  margin: 0 auto;
  margin-top: -30px;
  flex-direction: column;
}

.post {
  width: 900px;
  padding: 30px;
  border: solid 1px $post-border-color;
  &__header {
    font-size: 16px;    
    align-items: center;
    @include flex-between();
  }
  &__action {
    padding: 3px 12px;
    border: solid 1px $post-color;
    color: $post-color;
    text-decoration: none;
    font-size: 14px;
  }
  &__info {
    margin-top: 19px;
    padding: 12px 22px;
    background: $banner-color;
  }
  &__content {
    margin-top: 17px;
    white-space: pre-line;
    line-height: 1.5em;
    white-space:pre-wrap;
  }
  .btn-read-more {
    display: inline-block;
    padding: 12px 16px;
    border: solid 1px $btn-color;
    color: $btn-color;
    margin-top: 36px;
    text-decoration: none;
  }
  + & {
    margin-top: 24px;
  }
}

.login-wrapper {
  margin: 0 auto;
  border: solid 1px $login-border-color;
  width: 527px;
  @include flex-center();
  flex-direction: column;  
  padding: 62px 72px;
  margin-top: -30px;
  background: $bg-color;
  form, input {
    width: 100%;
  }
  .input__field {
    margin-top: 16px;
    height: 40px;
  }
  input[type=submit] {
    height: 56px;
    background-image: $linear;
    color: $bg-color;
    margin-top: 73px;
  }
  h2 {
    font-size: 32px;
    font-weight: normal;
  }
  + .input__wrapper {
    margin-top: 23px;
  }
  .input__label {
    font-size: 14px;
    margin-left: 21px;
  }
}

.edit-post {
  width: 900px;
  padding: 30px;
  border: solid 1px $post-border-color;
  &__title {
    font-size: 20px;
  }
  &__input-wrapper {
    width: 100%;
    margin-top: 28px;
      input, textarea {
        width: 100%;
        padding: 6px;
      }
  }
  &__btn-wrapper {
    text-align: right;
  }
  &__btn {
    display: inline-block;
    padding: 10px 39px;
    border: solid 1px $btn-color;
    color: $btn-color;
    cursor: pointer;
    margin-top: 25px;
  }
}

.admin-post {
  @include flex-between();
  padding: 24px 0px;
  align-items: center;
  border-bottom: 1px solid $post-border-color;
  font-size: 14px;
  width: 920px;
  &__title {
    font-size: 16px;
    margin-left: 16px;
  }
  &__info {
    @include flex-center();
    margin-left: 12px;
  }
  &__created-at {
    color: $created-at-color;
  }
  &__btn {
    padding: 4px 8px;
    border: 1px solid $post-color;
    color: $post-color;
    cursor: pointer;
    margin-left: 8px;
    text-decoration: none;
  }
  &__btn:last-child {
    margin-right: 16px;
  }
}

footer {
  padding: 10px 0px;
  background-color: $footer-bg-color;
  font-size: 14px;
  color: $bg-color;
  text-align: center;
}
